services:
  api:
    build:
      context: .
      dockerfile: docker/api.Dockerfile
      target: prod
    user: "${APP_UID:-1000}:${APP_GID:-1000}"
    ports:
      - "8010:8010"
    env_file:
      - .env
    environment:
      - REDIS_URL=${REDIS_URL:-redis://redis:6379/0}
      - MLFLOW_TRACKING_URI=${MLFLOW_TRACKING_URI:-http://mlflow:5010}
      - API_TOKENS=${API_TOKENS}
    volumes:
      - ./shared:/shared
    depends_on:
      - redis
      - mlflow
    restart: unless-stopped

  worker:
    build:
      context: .
      dockerfile: docker/worker.Dockerfile
    user: "${APP_UID:-1000}:${APP_GID:-1000}"
    env_file:
      - .env
    environment:
      - MLFLOW_TRACKING_URI=${MLFLOW_TRACKING_URI:-http://mlflow:5010}
      - REDIS_URL=${REDIS_URL:-redis://redis:6379/0}
      - HF_HOME=/tmp/huggingface
      - TORCH_HOME=/tmp/torch
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=compute,utility
      - HOME=/tmp
      - XDG_CACHE_HOME=/tmp/.cache
    volumes:
      - ./shared:/shared

    gpus: all

    depends_on:
      - redis
      - mlflow
    read_only: true
    tmpfs:
      - /tmp
    ipc: host
    ulimits:
      memlock: -1
      stack: 67108864
    restart: unless-stopped



  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    command: redis-server --appendonly yes
    restart: unless-stopped

  mlflow:
    image: ghcr.io/mlflow/mlflow:latest
    user: "${APP_UID:-1000}:${APP_GID:-1000}"
    ports:
      - "5010:5010"
    environment:
      - MLFLOW_BACKEND_STORE_URI=sqlite:////shared/mlflow.db
      - MLFLOW_DEFAULT_ARTIFACT_ROOT=file:///shared/artifacts
    volumes:
      - ./shared:/shared
    command: >
      mlflow server
      --host 0.0.0.0
      --port 5010
      --backend-store-uri sqlite:////shared/mlflow.db
      --default-artifact-root file:///shared/artifacts
      --allowed-hosts "*"
    restart: unless-stopped

  streamlit:
    build:
      context: .
      dockerfile: docker/streamlit.Dockerfile
    env_file:
      - .env
    environment:
      - API_URL=${API_URL:-http://api:8010}
      - MLFLOW_URL=${MLFLOW_URL:-http://mlflow:5010}
    ports:
      - "8501:8501"
    depends_on:
      - api
      - mlflow
    restart: unless-stopped

volumes:
  redis-data:
